# Group work aCRM

## Loading data

In [57]:
import numpy as np 
import pandas as pd
import json
import matplotlib as plt
try: 
    # Paden Joran 
    calendar_detail = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/calendar_detail.csv")
    listings_detail = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/listings_detail.csv")
    listings_summary = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/listings_summary.csv")
    neighbourhoods = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/neighbourhoods.csv")
    reviews_detail = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/reviews_detail.csv")
    reviews_summary = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/reviews_summary.csv")
    with open('C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/neighbourhoods.geojson') as f:
        neighbourhoods_geojson = json.load(f)
except: 
    try: 
        # Paden persoon 2
        
    except: 
        try: 
            # Paden persoon 3
            
        except: 
            try: 
                calendar_detail = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/calendar_detail.csv")
                listings_detail = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/listings_detail.csv")
                listings_summary = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/listings_summary.csv")
                neighbourhoods = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/neighbourhoods.csv")
        reviews_detail = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/reviews_detail.csv")
    reviews_summary = pd.read_csv("C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/reviews_summary.csv")
    with open('C:/Users/Joran/Documents/Notebooks/ACRM/Groupwork/neighbourhoods.geojson') as f:
        neighbourhoods_geojson = json.load(f)
                
            except: 
                print("Files not found")

In [46]:
# calendar_details 
calendar_detail.head()

   listing_id        date available   price
0        2515  2018-10-01         t  $99.00
1        2515  2018-09-30         t  $89.00
2        2515  2018-09-29         t  $99.00
3        2515  2018-09-28         t  $99.00
4        2515  2018-09-27         t  $99.00

In [63]:
# listings_detail 
listings_detail.head(2)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,18461891,https://www.airbnb.com/rooms/18461891,20171002002103,2017-10-03,"Bright, comfortable 1B studio near everything!",*Looking to fill these specific dates: June 24...,Very well illuminated space includes comfortab...,*Looking to fill these specific dates: June 24...,none,There are Michelin-rated restaurants in the ar...,...,f,NaN,NaN,f,f,strict,f,f,1,NaN
1,20702398,https://www.airbnb.com/rooms/20702398,20171002002103,2017-10-03,Quiet house on City Island,1 private bedroom and bathroom available for o...,NaN,1 private bedroom and bathroom available for o...,none,This neighborhood is dope! Lot's of seafood re...,...,f,NaN,NaN,f,f,moderate,f,f,1,2.0

In [49]:
# listings_summary
listings_summary.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,18461891,"Bright, comfortable 1B studio near everything!",916092,Connie Mae,Queens,Ditmars Steinway,40.774142,-73.916246,Entire home/apt,110,6,0,NaN,NaN,1,0
1,20702398,Quiet house on City Island,1457680,James,Bronx,City Island,40.849191,-73.786509,Private room,50,1,2,2017-10-01,2.00,1,169
2,6627449,Large 1 BDRM in Great location,13886510,Arlene,Bronx,City Island,40.849775,-73.786609,Entire home/apt,125,3,21,2017-09-26,0.77,1,363
3,19949243,Stay aboard a sailboat,1149260,MoMo,Bronx,City Island,40.848838,-73.782276,Entire home/apt,100,3,0,NaN,NaN,1,90
4,1886820,Quaint City Island Community.,9815788,Steve,Bronx,City Island,40.841144,-73.783052,Entire home/apt,300,7,0,NaN,NaN,1,365

In [51]:
# neighbourhoods
neighbourhoods.head()

  neighbourhood_group neighbourhood
0               Bronx      Allerton
1               Bronx    Baychester
2               Bronx       Belmont
3               Bronx     Bronxdale
4               Bronx   Castle Hill

In [52]:
# reviews_detail 
reviews_detail.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,9452127,58944174,2016-01-05,6279455,Ravi,Great place. Helena was prompt to reply and ve...
1,9452127,59446510,2016-01-10,23770684,Shiv,We had previously stayed at the apartment over...
2,9452127,59557387,2016-01-11,29070567,Jandall,Helena was a great host and extremely accommod...
3,9452127,62664325,2016-02-15,58381183,Cody,Helena was extremely accessible throughout the...
4,9452127,63410004,2016-02-22,29014080,Magnus,Awesome place! Looks just as in photos. Plenty...

In [53]:
# reviews_summary
reviews_summary.head()

   listing_id        date
0     9452127  2016-01-05
1     9452127  2016-01-10
2     9452127  2016-01-11
3     9452127  2016-02-15
4     9452127  2016-02-22

In [64]:
# neighbourhoods_geojson (remove # in next line to see the dictionary)
# neighbourhoods_geojson

## Standard Questions

#### 1.	Calculate the average listing price per neighborhood.

In [ ]:
#TESTTTTT

#### 2.	Plot how the average price evolves through the year across New York.

In [ ]:
#TESSTTT

#### 3.	Identify which neighborhood has the largest price fluctuations across the year. Plot the fluctuations for this neighborhood.

#### 4.	In marketing, there is a phenomenon known as â€˜the long tailâ€™ (Hint: look it up). This also translates to the number of reviews. Plot this on an intuitive graph.

#### 5.	Run a regression to explain the price per listing. (Hint: location, reviews, etc. may all explain this).

#### 6.	Find additional data sources to explain the average listing price per neighborhood. (Hint: think demographics).

#### 7.	Plot how the average prices differ across New York using a color-coded heat map of New York neighborhoods.

#### 8.	The latitude of Statue of Liberty National Monument, New York, USA is 40.689247, and the longitude is -74.044502. This monument is one the most popular tourist places in New York. Statistically test whether a distance smaller than 2 miles to the monument increases average listing price.

#### 9.	Create a timeline and plot for each year the highest, Q1, the median, Q3 and lowest price on one graph. Do this for each neighborhood group as well as for the entire city. Determine which neighborhood group stands out the most and create a comparative graph of this neighborhood with all other groups.

#### 10.	Plot the number of rooms per host in function of the number of reviews per host.

#### 11.	Are there a lot of hosts having multiple locations? Do most people just rent their own place? Is there a â€˜host long tailâ€™? Make a comprehensive plot.

#### 12.	Do hosts with multiple locations stay within the same neighborhood? (Hint: use subset).

#### 13.	What are the 5 most used words in reviews that are no stop words? (e.g. the, or, etc. Python can filter these automatically using packages such as NLTK).

#### 14.	Do these most frequent words differ across neighborhoods? What are the â€˜most differentâ€™ areas? What distinguishes them? Interpret.

#### 15.	Plot the amount of reviews across time.

#### 16.	Is there a link between availability (days per year) with the price? Determine both graphically and statistically.

#### 17.	Is there a link between how many times the word â€˜greatâ€™ appears in a review and the listing price? Determine both graphically and statistically.

#### 18.	Plot how the number of Airbnb locations are distributed across the city on a map. Plot the number of locations per neighborhood and color code according to neighborhood group.

#### 19.	Williamsburg is a â€˜hipâ€™ area in in Brooklyn with a lot of Airbnb locations on offer. Explore how this area differs from other locations and visualize. You may also use external data sources.

#### 20.	Create a stacked bar chart of the distribution of room type per neighborhood group. Statistically test whether these differences are significant.

#### 21.	Color-coded plot the most popular room type per neighborhood on a city map.

## Additional output